<div id="bottom_box">

	  	<div id="column_footer_1">
	    <div class="footer_text_box">
	      <ul class="footer_list">
			<li><span style="color: #000000; text-transform: uppercase; font-size: 10pt;">Bearshotgun Games</span>
		  		<ul class="footer_list_nested">
		    		<li>Address</li>
		    		<li>London, Postcode</li>
		    		<li>United Kingdom</li>
		  		</ul> 
			</li>
	      </ul>
        </div>
	  	</div>
	  	<div id="column_footer_2">
	    <div class="footer_text_box">
	      <ul class="footer_list">
			<li><a href="#"><span style="text-transform: uppercase; font-size: 10pt;">News</span></a>
		  		<ul class="footer_list_nested">
		    		<li><a href="#">Blog</a></li>
		    		<li><a href="#">Follow us on Twitter</a></li>
		  		</ul>
			</li>
	      </ul>
        </div>
	  	</div>
	  	<div id="column_footer_3">
	    <div class="footer_text_box">
	      <ul class="footer_list">
			<li><a href="#"><span style="text-transform: uppercase; font-size: 10pt;">About Us</span></a>
		  		<ul class="footer_list_nested">
		    		<li><a href="#">Company Info</a></li>
		    		<li><a href="#">Press Kit</a></li>
		  		</ul>
			</li>
	      </ul>
        </div>
	  	</div>
	  	<div id="column_footer_4">
	    <div class="footer_text_box">
	      <ul class="footer_list">
			<li><a href="#"><span style="text-transform: uppercase; font-size: 10pt;">Our Work</span></a>
		  		<ul class="footer_list_nested">
		    		<li><a href="#">A Game of Zolf</a></li>
		    		<li><a href="#">Other</a></li>
		  		</ul>
			</li>
	      </ul>
        </div>
	  	</div>
	  	<div id="column_footer_5">
	    <div class="footer_text_box">
	      <ul class="footer_list">
			<li><a href="#"><span style="text-transform: uppercase; font-size: 10pt;">Contact</span></a>
			</li>
	      </ul>
        </div>
	  	</div>
	  
	  </div>